<%- include('../partials/header') %>
<h1>Add a New Car</h1>
<form action="/cars" method="POST">
  <input name="make" placeholder="Make" required />
  <input name="model" placeholder="Model" required />
  <input name="year" type="number" placeholder="Year" required />
  <input name="imgUrl" placeholder="Image URL" />
  <button type="submit">Add Car</button>
</form>

<%- include('../partials/footer') %>
